{% extends 'templates/master.twig' %}

{% set title = 'Hashtags' %}

{% block content %}
<section>
  <div class="flex">
    <div>
      <img src="/img/hashtag.png" alt="hashtag icon">
    </div>
    <div class="stretch">
      <p>Linux and radio tutorials, sorted by hashtag. The most recent tags and tutorials are shown first.</p>
    </div>
  </div>
</section>
<section>
  <h3>Tutorials Sorted by Hashtag</h3>
  <ul>
    {% for tag in tags %}
    <li>
      <a href="/tags/{{ tag.tag|lower }}" title="{{ tag.tag }} Posts">#{{ tag.tag }}</a>
      <ul class="tutorial-list">
        {% for tutorial in tag.tutorials %}
        <li>
          <span>{{ tutorial.date|date("M jS, 'y") }}</span> - <a href="{{ tutorial.url }}" title="{{ tutorial.title }}">{{ tutorial.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
