{% extends 'templates/master.twig' %}

{% set title = folder.folderName %}

{% block content %}
<section>
  <a href="/{{ folder.folder }}/" title="{{ folder.folderName }} Tutorials"><h3>{{ folder.folderName }} Tutorials</h3></a>
  <ul>
    {% for tutorial in folder.tutorials %}
    <li>
      <a href="/{{ tutorial.folder }}/{{ tutorial.page }}" title="{{ tutorial.title }}">{{ tutorial.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
