<!DOCTYPE html>
<html>
<head>
  {% block title %}<title>{{ title }} | Kevin's Tutorials</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="author" content="Kevin Ashcraft">
  <meta name="description" content="{{ description }}">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <link rel="canonical" href="{{ url }}">
  <link rel="author" href="https://plus.google.com/+KevinAshcraft">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
  <link rel="shortcut icon" sizes="196x196" href="/favicons/favicon-196.png">
  <link rel="apple-touch-icon-precomposed" href="/favicons/favicon-152.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/favicons/favicon-144.png">
  <meta name="application-name" content="Kevin Ashcraft">
  <meta name="msapplication-tooltip" content="Tooltip">
  <meta name="msapplication-config" content="/ieconfig.xml">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@kevashcraft" />
  <meta property="og:url" content="{{ canonical }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="{{ logo_png }}" />

  {% if site.production %}
    {% include 'partials/google_analytics.twig' %}
  {% endif %}
</head>
<body>
<main>
    <article>
      {% block header %}
        {% include 'partials/header.twig' %}
      {% endblock %}
      {% block content %}{% endblock %}
    </article>
    {% block footer %}
      {% include 'partials/footer.twig' %}
    {% endblock %}
  </main>
</body>
  {% block foot %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    {#<link rel="stylesheet" href="/submodules/code-prettify/src/prettify.css">#}
    <link rel="stylesheet" type="text/css" href="/styles/master.css">
    {#<script src="/submodules/code-prettify/src/prettify.js"></script>#}
    <script src="/scripts/master.js"></script>
  {% endblock %}
  {% block toe %}
    {#<script>#}
    {#  (function() {#}
    {#    PR.prettyPrint()#}
    {#  })()#}
    {#</script>#}
  {% endblock %}
</html>
