{% extends 'templates/master.twig' %}

{% set title = '#' ~ tag %}

{% block content %}
<section>
  <a href="/tags/{{ tag|lower }}" title="{{ tag }} Tutorials"><h3>#{{ tag }} Tutorials</h3></a>
  <ul>
    {% for tutorial in tutorials %}
    <li>
      <a href="/{{ tutorial.folder }}/{{ tutorial.page }}/" title="{{ tutorial.title }}">{{ tutorial.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
