{% extends 'templates/master.twig' %}

{% set title = '#' ~ tag %}

{% block content %}
<h3>#{{ tag }}</h3>
<section>
  <ul>
    {% for tutorial in tutorials %}
    <li>
      <a href="/{{ tutorial.folder }}/{{ tutorial.page }}" title="{{ tutorial.title }}">{{ tutorial.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
