<article id="{{ blog.slug }}">
  <header>
    <h3 class="black"><a href="{{ site.url }}{{ blog.url }}">{{ blog.title }}</a></h3>
    <h4 class="small">{{ blog.date|date('l, F jS, Y - g:i a') }}</h4>
  </header>
  {% include 'blogs/' ~ blog.file %}
</article>
