{% extends 'templates/master.twig' %}

{% set title = '#' ~ tag %}

{% block content %}
<article>
  <section>
    <a href="/tags/{{ tag|lower }}/" title="{{ tag }} Posts"><h3>#{{ tag }} Posts</h3></a>
    <ul>
      {% for blog in blogs %}
      <li>
        <a href="/{{ blog.url }}/" title="{{ blog.title }}">{{ blog.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
</article>
{% endblock %}
