{% extends 'templates/master.twig' %}

{% set title = 'Posts Sorted by Year' %}

{% block content %}
<article>
  <section>
    <div class="flex">
      <div>
        <img src="/img/calendar.png" alt="calendar icon">
      </div>
      <div class="stretch">
        <p>These are all of my blog posts, sorted by year. The most recent years and posts are shown first. The main reason this page exists is because I believe every directory in the path should have an index. It just feels right.</p>
      </div>
    </div>
  </section>
  <section>
    <h3>Posts Sorted by Year</h3>
    <ul>
      {% for year in years %}
      <li>
        <a href="/{{ year.year }}" title="{{ year.year }} Posts">{{ year.year }}</a>
        <ul class="post-list">
          {% for blog in year.blogs %}
          <li>
            <span>{{ blog.date|date("M jS") }}</span> - <a href="/{{ blog.url }}" title="{{ blog.title }}">{{ blog.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </section>
</article>
{% endblock %}
